#opco{
    cursor: pointer;
    height: 3rem;
    width: 5rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:rgba(49, 49, 182, 0.801);
    font-family: "ocr a";
    color: white;
    font-size: 1.4rem;
    text-align: center;
    transition: 0.6s;
}
.opi #opco{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color:rgba(68, 66, 194, 0.918);
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
    font-family: "ocr a";
    transition: 0.6s;
}
.dark #opco{
    background-color: rgb(39, 39, 39);
    color: rgb(207, 207, 207);
    transition: 0.6s;
}

.opi a{
    font-family: '"ocr a"';
    text-decoration: none;
    text-transform: none;
    color: white;
    text-align: center;
}
.dark a{
    color: rgb(15, 221, 15);
}

.opi .opc li{
    flex-direction: column;
    font-family: "ocr a";
    border-radius: 1rem;
    font-size: 2rem;
    margin: 1rem;
    width: 12rem;
    height: 3rem;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgb(167, 167, 255);
    transition: 0.6s;
}
.dark .opc li{
    transition: 0.6s;
    background-color: rgb(87, 83, 83);
}

.dark {
    background-color: black;
    color: rgb(15, 221, 15);
    transition: 0.6s;
}

@media (max-width: 767px){
    #opco{
        height: 4rem;
        width: 2.4rem;
    }
    .dark #opco{
        height: 4rem;
        width: 2.4rem;
    }
    .opi .opc{
        margin-top: 0.5rem;
    }
}