root = true


# ALL
[*]
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript e Python
[*.{js,py}]
charset = utf-8

# Python
[*.py]
indent_style = tab
indent_size = 4


# JS
[lib/**.js]
indent_style = tab
indent_size = 2

#package
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2

[*.json]
indent_style = tab
indent_size = 2
trim_trailing_whitespace = false
insert_final_newline = false

