body {
    background-color: #bbfae9;
    font-family: "ocr a";
    color: #662cfa;
    transition: 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
header{
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
}
.conte{
    position:sticky;
    display: flex;
    flex-direction: row;
}
#titulo2{
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 4rem;
}
@media (max-width: 767px) {
    #titulo2{
        font-size: 3rem;
    }
}

#formas{
    font-family: "ocr a";
    height: 3rem;
    width: 14rem;
    font-size: 1.6rem;
    text-align: center;
    background-color: rgb(167, 167, 255);
    color: white;
    border-radius: 0.4rem;
    appearance: none;
    -webkit-appearance:none;
}

#lilname{
    margin-top: 2rem;
    font-size: 1.6rem;
}

#formula{
    font-family: 'Courier New';
    height: 3rem;
    width: 15rem;
    background-color: rgb(112, 86, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}
#formula::after{
    font-family: "DRUGSTHER";
}



#tag{
    font-family: 'Courier New', Courier, monospace;
}
@font-face {
    font-family: "ocr a";
    src: url(fonts/OCRAEXT.TTF);
}
@font-face {
    font-family: "Courier New";
    src: url(fonts/COURBD.TTF);
} 
@font-face {
    font-family: "DRUGSTHER";
    src: url(fonts/DRUGSTHER.otf);
} 

.opc{display: none;}
.opi .opc{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:block;
    position: absolute;
    background-color:rgba(68, 66, 194, 0.918);
    list-style: none;
    text-decoration: none;
    text-align: center;
    border-radius: 1rem;
    border-top-left-radius: 0;
    top: 3.4rem;
    font-family: "ocr a";
    transition: 0.6s;
}
.dark .opc{
    transition: 0.6s;
    background-color: rgb(39, 39, 39);
    color: rgb(207, 207, 207); 
}