body {
    background-color: #bbfae9;
    font-family: "ocr a";
    color: #662cfa;
    transition: 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
header{
    display: flex;
    margin: 1rem auto;
}
.cont{
    flex-direction: row;
}
#titulo1{
    font-size: 4rem;
}
@media (max-width: 767px) {
    #titulo1{
        font-size: 3rem;
    }
}


#m1, #m2 {
    width: auto;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    color: white;
    font-family: "ocr a";
    background-color: rgba(49, 49, 182, 0.801);
    transition: 0.6s;
    appearance: none;
    -webkit-appearance: none;
}
#m1{
    margin-top: 2rem;
}
.dark #m1, .dark #m2 {
    background-color: rgb(39, 39, 39);
    color: rgb(207, 207, 207);
    transition: 0.6s;
}

#para{
    font-size: 2.7rem;
    margin-bottom: 0.5rem;
}

#vrli, #resposta {
    background-color: rgb(167, 167, 255);
    width: 13rem;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    color: white;
    font-family: "ocr a";
    transition: 0.6s;
}
#vrli{
    margin-top: 1rem;
}
.dark #vrli, .dark #resposta {
    background-color: rgb(39, 39, 39);
    color: rgb(207, 207, 207);
    transition: 0.6s;
}

#coiso {
    font-size: 3rem;
    font-family: "ocr a";
}

#printar {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
    color: white;
    background-color: rgba(49, 49, 182, 0.801);
    height: 4.5rem;
    width: 20rem;
    font-family: "ocr a";
    transition: 0.6s;
}
.dark #printar {
    background-color: rgb(66, 66, 66);
    color: rgb(207, 207, 207);
    transition: 0.6s;
}

#tag{
    font-family: 'Courier New', Courier, monospace;
}

@font-face {
    font-family: "ocr a";
    src: url('fonts/OCRAEXT.TTF');
}
@font-face {
    font-family: "Courier New";
    src: url('fonts/COURBD.TTF');
}

.opc{display: none;}
.opi .opc{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display:block;
    position: absolute;
    background-color:rgba(68, 66, 194, 0.918);
    list-style: none;
    text-decoration: none;
    text-align: center;
    border-radius: 1rem;
    border-top-left-radius: 0;
    top: 4.4rem;
    font-family: "ocr a";
    transition: 0.6s;
}
.dark .opc{
    transition: 0.6s;
    background-color: rgb(39, 39, 39);
    color: rgb(207, 207, 207); 
}