body {
    background-color: #bbfae9;
    font-family: "ocr a";
    color: #662cfa;
    transition: 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.dark{
    background-color: black;
    color: rgb(15, 221, 15);
    transition: 1;
}

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
header{
    display: flex;
    flex-direction: row;
    margin: 1rem auto;
}
.conte{
    position:sticky;
    display: flex;
    flex-direction: row;
}
#titulo4{
    margin-right: 0.4rem;
    font-size: 2.7rem;
}
main{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
h2{
    height: 7rem;
    width: 15rem;
    background-color: rgba(49, 49, 182, 0.801);
    margin: 2rem;
    transition: 1s;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 3px 6px 6px rgba(0, 0, 0, 0.2);
    color: white;
    text-decoration: none;
}
.dark h2{
    background-color: rgb(39, 39, 39);
    color: rgb(207, 207, 207);
    transition: 0.6s;
}

h2:hover{
    height: 13rem;
    transition: 1s;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: white;
    transition: 1s;
}

p{ display: none;}
h2:hover p {
    transition: 1s;
    position: relative;
    display: flex;
    margin-top: 0.5rem;
    text-align:center;
    flex-direction: column;
    font-size: 1rem;
}
h2:hover #ti {
    transition: 1.5s;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: center;
}
#caixa2{
    background-color: red;
}



#tag{
    font-family: 'Courier New', Courier, monospace;
}
@font-face {
    font-family: "ocr a";
    src: url(fonts/OCRAEXT.TTF);
}
@font-face {
    font-family: "Courier New";
    src: url(fonts/COURBD.TTF);
} 
@font-face {
    font-family: "DRUGSTHER";
    src: url(fonts/DRUGSTHER.otf);
}